.about {
  padding-top: 100px;
  background-color: rgb(233, 227, 216);
  display: flex;
  flex-direction: column;
}
.heading1 {
  font-size: 100px;
  padding: 50px;
  font-family: 'Times New Roman', Times, serif;

}
.heading2 {
  font-size: 70px;
  padding: 50px;
  text-align: start;
  font-family: 'Times New Roman', Times, serif;

}
.para {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 3em;
font-family: 'Times New Roman', Times, serif;
}
.p {
  font-size: 19px;
  width: 600px;
  color: rgba(0, 0, 0, 0.644);
}
@media only screen and (max-width: 600px) {
    .heading1 {
        font-size: 50px;
        text-align: start;
      }
    .heading2 {
        font-size: 30px;
        padding: 2em;
        text-align: center;
      }
      .p {
        font-size: 19px;
        padding-left: 2em;
        width: 600px;
      }
}
